#home {
  /* background-image: url(../images/roadMobile.jpg); */
  background-image: url(../images/coverPic.jpg);
  /* background-image: url('https://images.unsplash.com/photo-1588483977150-9c2127ab7bcc?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80'); */
/* background-image: url('https://images.unsplash.com/photo-1483794344563-d27a8d18014e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80'); */
  position: cover ;
  background-repeat: cover no-repeat;
  background-size: cover;
  min-height: 100vh;
  background-position-y: 100vh;
  width:100%;




}

#phraseCoverBox {
  padding-top: 200px;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  text-align: center;
  color: rgb(80, 80, 80);
}

@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:300|Oswald);
.wordCarousel {
  align-items: stretch;
  flex-direction: column;
  margin-top: 130px;
  margin-left: 200px;
  font-size: 36px;
  font-weight: 700;
  font-family: "Work Sans", sans-serif;
  display: flex;

  position: absolute;
  top: 0px;
  right: 14px;
  width: 100%;
}
.wordCarousel .divAbout {
  overflow: hidden;

  height: 100px;
  padding-top: 10px;
  margin-top: -10px;
}
.wordCarousel .divAbout .listWords {
  height: 45px;
  margin-bottom: 45px;
  display: flex;
}



.listWords {
  font-size: 32px;
  left: 0;
  font-family: "Work Sans", sans-serif;
  font-weight: 850;
  padding-left: 100px;
  padding-right: 5px;
  margin: 0px 0px 0px 0px;
  justify-content: space-evenly;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.flip2 {
  animation: flip2 13s cubic-bezier(0.23, 1, 0.32, 1.2) infinite;
}
.flip3 {
  animation: flip3 11s cubic-bezier(0.23, 1, 0.32, 1.2) infinite;
  padding: 0px 0px 0px 0px;
}
.flip4 {
  animation: flip4 11s cubic-bezier(0.23, 1, 0.32, 1.2) infinite;
}
@keyframes flip2 {
  0% {
    margin-top: -180px;
  }
  5% {
    margin-top: -90px;
  }
  50% {
    margin-top: -90px;
  }
  55% {
    margin-top: 0px;
  }
  99.99% {
    margin-top: 0px;
  }
  100% {
    margin-top: -270px;
  }
}
@keyframes flip3 {
  0% {
    margin-top: -270px;
  }
  5% {
    margin-top: -180px;
  }
  33% {
    margin-top: -180px;
  }
  38% {
    margin-top: -90px;
  }
  66% {
    margin-top: -90px;
  }
  71% {
    margin-top: 0px;
  }
  99.99% {
    margin-top: 0px;
  }
  100% {
    margin-top: -270px;
  }
}
@keyframes flip4 {
  0% {
    margin-top: -360px;
  }
  5% {
    margin-top: -270px;
  }
  25% {
    margin-top: -270px;
  }
  30% {
    margin-top: -180px;
  }
  50% {
    margin-top: -180px;
  }
  55% {
    margin-top: -90px;
  }
  75% {
    margin-top: -90px;
  }
  80% {
    margin-top: 0px;
  }
  99.99% {
    margin-top: 0px;
  }
  100% {
    margin-top: -270px;
  }
}





@media screen and (max-width: 768px) {
  .homePhraseExperience{
    display:none
  }
  .divAbout{
    display: none;
  }
 
  #home {
    /* background-image: url(../images/roadMobile.jpg); */
    background-image: url(../images/roadMobile.jpg);
    background-position:center;
    width:550px;
    height:200px;
   
  }
  .listWords{
    font-size: 25px;
    padding-top:20px
  }
  
  .homePhraseExperience{
    font-size: 20px;
    padding-top:300px
  }

  .homeMobile{
    display: block;
    background-color: aqua;
    position:absolute;
    z-index:1;
  
  }}


  /* new title home css */


