.card-container {
  display: flex;
  width: 100%;
  overflow: hidden;
  gap: 50px; /* Add a gap between cards */
  padding-top: 70px;
}
.white-text {
  color: white;
}
.card {
  flex: 0 0 auto;
  width: 15%;
  border-radius: 50px; /* Add border radius to each card */
  position: relative;
  animation: card-slide 20s linear infinite;
  animation-delay: calc(1s * var(--index, 0));
}

.card-container .card .MuiCard-root {
  position: relative;
  overflow: visible;
}

.card-container .card .MuiCardMedia-root {
  position: relative;
  height: 250px; /* Adjust the height as needed */
  object-fit: cover;
}

.card-container .card .content {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;

  background: rgba(
    0,
    0,
    0,
    0.5
  ); /* Transparent background for buttons and text */
  border-radius: 70px; /* Add border radius to the content */
}

.card-container .card .MuiButtonBase-root {
  color: white;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 50px;
  /* Add a border to the buttons */
}

.card-container .card .button-container {
  display: flex;
  /* grid-gap: 10px; */
  /* gap: 10px; */
  /* padding-top: 120px; */
  /* position: absolute; */
  flex-direction: column;
}

.card-container .card #buttons-main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100%;
  display: flex;
  flex-direction: row;
  /* justify-content: flex-end; */
  /* height: 100%; */
  bottom: auto;
  padding-top: 180px;
}
.white-text {
  font-weight: 600;
  line-height: 1;
}

.card-container .card .text-container {
  /* gap: 5px; */
  position: absolute;
  /* top: 0; */
  padding-top: 120px;
}
.text-container {
  display: flex;
  flex-direction: column;
}

@keyframes card-slide {
  0% {
    transform: translateX(120%);
    z-index: 10; /* Increase the z-index for better layering */
  }

  100% {
    transform: translateX(-120%);
    z-index: 1; /* Decrease the z-index for bettear layering */
  }
}

.button-container {
  display: flex;
}

#txt-btn-card {
}

/* projANDart.css */

/* Add a CSS class for the button hover effect */
/* projANDart.css */

/* Add a CSS class for the button hover effect */
.button-hover-effect:hover {
  background-color: rgba(
    221,
    221,
    221,
    0.7
  ); /* Slightly transparent gray background */
}

/* Apply the hover effect to all buttons in the cards */
.card .MuiButtonBase-root:hover {
  background-color: rgba(
    221,
    221,
    221,
    0.7
  ); /* Slightly transparent gray background */
}

/* Add more styles for your specific needs */

.header {
  display: flex;
  /* align-content: space-around; */
  /* flex-direction: column; */

  flex-direction: column;
}

.title .subTitle {
  font-size: 24px;
  padding: 5px;
  margin: 0 0px 5px 0px;
  justify-content: space-evenly;
  word-spacing: 4px;
  font-size: 24px;
}
.subTitle {
  padding-top: 5px;
}

.text {
  font-size: 17px;
  padding-bottom: 0;
}
